<!DOCTYPE html>
<html>
    <head>
        <title>OAuth Test</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    </head>

    <body>
        <div class="container">
            <div class="jumbotron text-center text-primary">
                <h1><span class="fa fa-lock"></span>Google OAuth</h1>
                <p>You are not currently signed in!</p>
                <p>Login or Register:</p>
                <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google"></span> Sign In with Google</a>
            </div>
        </div>
    </body>
</html> 